table {
	width: 100%;


}

table {
	border-bottom:  1px solid black;
}





td {

	text-align: center;

	width: 20%;
}
th {

	width: 20%;
}

.center {
	text-align: center;
	margin-bottom: 20px;
}

.form {
	margin: 10px 0px;
	padding: 5px;
}



















