body {
/*	background-color: #212A36;*/
	

}


p {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #929191


	

		
}



.no {
	font-family: 'Open Sans', sans-serif;
		font-size: 26px;
		font-weight: 300;
		color: black;

		margin-top: -15px;
		


}

.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;


}

.left, .middle, .right {

	/*background-color: #212A36;*/
	height: 200px;
	width: 200px;
	margin: 10px;
	text-align: center;
}


.items {
		
		width: 50px;
		height:  400px;
		padding: 0px 50px;
/*		margin-top: 100px;*/
		margin-bottom: 100px;
		margin-left: 40px;


}


.detailed {
		background-color: brown;
		border-radius: 20px;
		height:  400px;
		width: auto;
		padding: 0px 50px;
/*		margin-top: 100px;*/
		margin-bottom: 100px;
		margin-left: -150px;
}


.nod {
		font-family: 'Open Sans', sans-serif;
		font-size: 30px;
		font-weight: 300;
		color: white;

		margin-top: -15px;


}

.textd{
	color: #eae7e7;
	font-size: 16px;
}





.container {
	display: grid;
	grid-template-columns: 1fr 1fr;


}




.underline::after {
	content: '';
	background-color: grey;
	height: 1px;
	width: 50px;
	display: block;
	margin-top:20px;
}










